<div class="container">
    <div class="col-sm-6">
        <img src="/images/graph.png" alt="">
    </div>
    <div class="col-sm-6">
        <h2>Thank you! Your schedule has been confirmed.</h2>
    </div>
</div>
