<div class="container">
  <div class="col-sm-6">
    <img src="/images/graph.png" alt="">
  </div>
  <div class="col-sm-6">
    <h2>Thank you for contacting us! We will get back to you shortly!</h2>
    <p> Go to
      <a href="/">home!</a>
    </p>
  </div>
</div>
